<%- include("../partials/header") %>

<h1> Add a new stock</h1>

<form action ="/stocks/<%=currentUser._id%>" method="POST">
    <input type="text" name="stock[name]" placeholder="name for new stock">
    <input type="text" name="stock[description]" placeholder="description">
    <input type="text" name="stock[price]" placeholder="price">
    <button>Submit!</button>
</form>

<a href="/stocks/<%=currentUser._id%>">Go Back</a>

<%- include("../partials/footer") %>
