<div class="container">
  <div class="row">
    <h1 style="text-align: center;">
      Add New Purchase to <%= user.username %>
    </h1>
    <div style="width: 30%; margin: 25px auto;">
      <form
        action="/stocks/<%=user._id%>/<%=stock._id%>/purchases"
        method="POST"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            name="purchase[quantity]"
            placeholder="quantity"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">
            Submit!
          </button>
        </div>
      </form>
      <a href="/stocks/<%=user._id%>">Go Back</a>
    </div>
  </div>
</div>
