    
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add New Purchase to <%= user.username %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/dashboard/<%=user._id%>/<%=stock._id%>/purchases" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="purchase[name]" placeholder="name">
                    <input class="form-control" type="number" name="purchase[quantity]" placeholder="quantity">
                    <input class="form-control" type="number" name="purchase[price]" step="0.01" placeholder="price">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/dashboard/<%=user._id%>">Go Back</a>
        </div>
    </div>
</div>



