<%- include("partials/header") %>

<div id="body-container">
  <div class="row justify-content-center">
    <div class="col-4 col-lg-4">
      <div class="pl-3 text-center" id="landing-banner">
        Forgot Password
      </div>
      <form action="/forgot" method="POST">
      <div class="form-row">
        <div class="col-12">
          <input autocomplete="off" type="text" name="email" class="form-control" placeholder="Email" />
        </div>

        <div class="button-container pt-0">
          <div class="button-container">
            <button class="btn green-button">
              Reset Password
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
