<%- include("partials/header") %>

<div id="body-container">
  <div class="row justify-content-center">
    <div class="col-4 col-lg-4">
      <div class="pl-3 text-center" id="landing-banner">
        Welcome to <span id="logo">STOCKOVERFLOW</span>
      </div>
      <form action="/login" method="POST">
      <div class="form-row">
        <div class="col-12">
          <input type="text" name="username" class="form-control" placeholder="username" />
        </div>
        <div class="col-12">
          <input type="password" name="password" class="form-control" placeholder="password" />
        </div>
        
        <div class="button-container pt-0">
            <div class="button-container">
              <button class="btn green-button">
                Sign In
              </button>
            </div>
        <div>
      </form>
        <div class="button-container pt-0">
          <form action="/forgot" method="GET">
            <div class="button-container">
              <button class="btn green-button">
                Forgot Password?
              </button>
            </div>
          </form>
        </div>
      </form>

    </div>
  </div>
</div>

<%- include("partials/footer") %>
