<%- include("partials/header") %>

<div id="body-container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 col-xl-5">
      <div class="text-center" id="landing-banner">
        <div>Welcome to</div> 
        <span id="logo">STOCKOVERFLOW</span>
      </div>
      <div class="form-row row justify-content-center">
        <form action="/login" method="POST">
          <div class="col-12">
            <input type="text" name="username" class="form-control" placeholder="username" />
          </div>
          <div class="col-12">
            <input type="password" name="password" class="form-control" placeholder="password" />
          </div>
          
          <div class="button-container pt-0">
            <div class="button-container">
              <button class="btn green-button">
                Sign In
              </button>
            </div>
        </form>
        <div class="button-container pt-0">
          <form action="/forgot" method="GET">
            <div class="button-container">
              <button class="btn green-button">
                Forgot Password?
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include("partials/footer") %>
