<%- include("partials/header") %>

<h1> Add a new stock</h1>

<form action ="/dashboard" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <button>Submit!</button>
</form>

<a href="/dashboard">Go Back</a>

<%- include("partials/footer") %>
