<%- include("partials/header") %>

<div id="body-container">
  <div class="row justify-content-center">
    <div class="col-4 col-lg-4">
      <div class="pl-3 text-center" id="landing-banner">
        Forgot Password
      </div>
      <form action="/reset/<%=token%>" method="POST">
        <div class="form-row">
          <div class="col-12">
            <input type="password" name="password" class="form-control" placeholder="New Password" />
          </div>
          <div class="col-12">
            <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" />
          </div>
          <div class="button-container pt-0">
            <div class="button-container">
              <button class="btn green-button">
                Reset Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
