<%- include("partials/header") %>

<form action="/search" method="POST">
  <input type="text" name="searchTerm" placeholder="Search for a stock" />
  <button>Search Now</button>
</form>

<%- include("partials/footer") %>
