/* ----------Javascript------------------------ */
.disable-click {
  cursor: wait;
  pointer-events: none;
}

.enable-click{
  cursor: pointer;
  pointer-events: auto;
}

.negative {
  color: #FF0000 !important;
}  

.positive {
  color: #3caea3 !important;
}

/* ----------Shared------------------------ */
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0 !important;
}

html {
  font-size: 100%;
}

body {
  background-color: #1a2a5a !important;
  background-size: cover;
  font-family: "lato", sans-serif !important;
}

#flash-mes {
  margin-top: 62px;
}

#body-container {
  padding: 5rem 15rem!important ;
  /* min-width: 720px; */
}

.margin-top-2rem {
  margin-top: 2rem; 
}

.card-row {
  padding-top: 1rem;
  padding-right: 0 !important;
  padding-left: 4rem !important;
}

.card-container { 
  background-color: rgba(82, 103, 168, 0.3) !important;
  border:black solid 1px;
  padding-bottom: 1.5em;
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
}

.card-center {
  text-align: center;
  padding-top: 1.2em;
}

.green-button {
  background-color: #3caea3;
  color: white;
}


.button-container {
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
}

.two-button-container {
  text-align: center;
  padding-top: 1em;
}

.table-container {
  background-color: white;
  border: black solid 1px;
  /* min-width: 720px; */
}

.header-black {
  background: #111720;
  color: white;
  margin: 0;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: normal;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fa, .fas{
  cursor: pointer;
  /* font-family: "lato", sans-serif !important; */
}

.fa-edit, .fa-plus, .fa-sync-alt, .fa-search {
  color: white;
}

.fa-eye {
  color: black;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
  font-size: 50px;
}

/* ----------------------table----------- */
.row-header {
  text-overflow: ellipsis;
  overflow: hidden;
}

.table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table td, .table th {
  overflow: hidden; 
  white-space: nowrap;
  height: 25px;
  text-overflow: ellipsis;
}

.table tbody td,
.table-container .table th {
  vertical-align: middle;
  text-align: center;
}

.table-container .table thead tr th.first-th, .table-container .table tbody tr th {
  text-align: left;
  max-width: 230px !important;
  width: 230px !important;
}

.table-container span.delete, .table-container span.add-to-tracked{
  text-align: center;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.table-container th:hover span.delete, .table-container th:hover span.add-to-tracked {
  width: 40px;
  opacity: 1;
}

/* ----------------------------Navbar---------------------------- */
a.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 300;
  font-size: 1.1rem;
}

.navbar .nav-link:hover {
  color: #3caea3 !important;
}

.activeLink {
  color: #3caea3 !important;
}

/* .navbar.scrolled {
background-color: #6A7E7A;
/* rgb(60, 86, 143); */
/* transition: background 1s; */
/* }  

/* ----------------------Home-header -------------------------- */
#stock-image {
  background: url("img/landing-stock.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  /* height: 100%;
  width: auto; */
  height: 475px;
  width: 561px;
  max-width: 100%;
}

#landing-banner {
  color: white;
  font-size: 1.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#logo {
  font-weight: 400;
}

.form-row .form-control {
  margin: 1em 1em 1em 0;
}

#password-warning {
  margin-top: 1em;
  color: white;
  list-style-position: inside;
  text-align: left;
  padding-left: 10%;
}

/* ----------------------tracked stocks----------- */
.fa-trash {
  color: red !important;
}

.table tbody tr:hover {
  cursor: pointer;
}

/* .table-container input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.table-container input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
} */

/* ----------Users----------------------- */
.editForm {
  display: none;
}

.min-width-md {
  min-width: 720px;
}

.display-none {
  display: none;
}

hr {
  margin: 0 !important;
}
/* ----------Show stock----------------------- */
#stock-banner {
  font-weight: 500;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.font-size-lg {
  font-size: 40px;
}

.font-size-sm {
  font-size: 25px;
}

.font-size-xsm {
  font-size: 20px;
}

.stat-table {
  background-color: white;
  border: black solid 1px;
  margin-bottom: 2em;
  overflow: scroll;
  height: 200px;
}

.stat-table td, .stat-table th {
  padding: .2rem !important;
  padding-left: 1rem !important;
}

.profile-table {
  background-color: white;
  border: black solid 1px;
  margin-bottom: 2em;
  overflow: scroll;
  height: 200px;
}

.profile-table td, .profile-table th {
  padding: .2rem !important;
  padding-left: 1rem !important;
  overflow: visible !important; 
  white-space: normal !important;
  height: 25px;
  text-overflow: normal !important;
}

.trade-button {
  float: right;
  padding: 1rem;
}

.trade-button a {
  color: black;
}

.trade-button a:hover {
  color: black;
  text-decoration: none;
}

#OHLCchart {
  height: 350px;
}

/* ----------Search------------------------ */
.search-item, .notfound-mes {
  display: block;
  min-width: 95%;
  padding: .5rem .1rem;
  /* clear: both; */
  font-weight: 400;
  color: #212529;
  /* text-align: inherit; */
  /* white-space: nowrap; */
  background-color: white;
  border-top: 1px solid #dee2e6;;

  overflow: visible !important; 
  white-space: normal !important;
  /* height: 25px; */
  text-overflow: normal !important;
}

.search-item:hover, .chosen {
  background-color: rgb(235, 235, 235);
}

/* -------------Overlay Search Box-- */
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position: fixed;
  top: 450px;
  left: 50%;
  transform:translate(-50%,-50%) scale(0);
  width:500px;
  height:500px;
  z-index:2;
  text-align:center;
  box-sizing:border-box;
  border-radius: 1%;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.popup .fa-times {
  position: fixed;
  top: 80px;
  right: 50px;
  font-size: 30px;
  cursor: pointer;
  color: white ;
}

.popup .fa-times:hover {
  color: #bbb;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

#pageload .content {
  top: 500px !important;
  color: white;
  /* font-size: 1.5em; */
}

/* -------------test--- */
.testing {
  background-color: white;
}
/* ---------------- */